# Build outputs
/target
/builds
/result*

# Temporary files and generated data
/testdata
/data
**/tmp
**/tmp/**
**/tmp-db
**/tmp-db/**
**/__pycache__
**/__pycache__/**
/.venv
/.pytest_cache
debug.log

# Performance data and generated performance graphs
perf.*
*.svg

# Configuration files
config.toml
.pre-commit-config.yaml

# IDE configurations
.idea/
.vscode/
